/* Empty. Add your own CSS if you like */

.loginClass{
    background-image: url(../img/Landing_Page.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.button-fb{

    position: absolute;
    top: 420px;
}

.bar-tutorit{
    background-image: url(../img/Header.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.users{
    margin: 10px;
    width: 75px;
    height: 75px;
    border: 1px solid red;
    display: inline-block;
    float: left;
}