/* Empty. Add your own CSS if you like */

.loginClass{
    background-image: url(../img/Landing_Page.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.button-fb{

    position: absolute;
    top: 420px;
}

.bar-tutorit{
    background-image: url(/img/Header.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}

.users{
    vertical-align: middle;
    margin: 10px;
    width: 160px;
    height: 160px;
    border: 1px solid red;
    display: inline-block;
    float: left;
}

.usersImage{
    width: 60px;
    height: 60px;
    
}
.bottombarGG{
    position: fixed;
    left: 20%;
    bottom: 15%;
    width: 100%;
    height: 44px;   
}
.tutorBtn{
    width: 225px;
    height: 44px;   
    position: absolute !important;
    top: 70% !important;
}
.bottombarSubmit{
    position: fixed;
    left: 20%;
    bottom: 25%;
    width: 100%;
    height: 44px;   
}
.broadcast{
    vertical-align: center !important;
    position: relative;
    top: 61px;
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    
}

.StopBroadCast{
    position: relative;
    top: 70px;
    left: 70px;
}
.aboutimage{
    background-image: url(../img/Landing_Page%202.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.settingsimage{
    background-image: url(../img/Settings.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.supportimage{
    background-image: url(../img/support.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.SidebarAbout
{ 
     background-image: url(../img/About.png) !important;
    width: 30px;
    height: 30px;
     margin: 5px;
    background-size: 100% 100%;
    
}
.SidebarSettings{
    background-image: url(../img/Settings.png) !important; 
    width: 30px;
    height: 30px;
     margin: 5px;
    background-size: 100% 100%;
    
}
.SidebarSupport{
     background-image: url(../img/Support.png) !important;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-size: 100% 100%;
}

